// -----------------------------------------------------------------------------
// This file contains all the typography styles.
// -----------------------------------------------------------------------------

body {
  font-family: $font-display;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1;
  color: $color-text;
}