// -----------------------------------------------------------------------------
// This file contains all the typography styles.
// -----------------------------------------------------------------------------

body {
  font-family: $font-display;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1;
  color: $color-text;
}

p {
  line-height: 2;
}

.heading--h1 {
  font-size: 3.4rem;
  font-weight: 600;
  line-height: 1.5;
}

.heading--h2 {
  font-size: 3rem;
  font-weight: 700;
}

.heading--h3 {
  font-size: 2.4rem;
  text-transform: uppercase;
  font-weight: 600;
}

.heading--h4 {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 600;
}

.underline {
  background-image: $background-gradient;
  background-repeat: no-repeat;
  background-size: 100% .8rem;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
  &:hover {
    background-size: 100% 88%;
  }
}

// VIEW ALL LINK
.view-all__box {
  text-align: center;
}

.view-all__link:link,
.view-all__link:visited {
  text-decoration: none;
  font-size: 2rem;
  font-weight: 400;
  color: $color-text;
  border-bottom: 2px solid $color-text;
  transition: all .2s;
}

.view-all__link:hover,
.view-all__link:active {
  color: $color-primary-cold;
  border-bottom: 2px solid $color-primary-cold;
}