// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// FONT VARIABLES
//$font-primary: 'Inter', sans-serif;
$font-display: 'Inter', sans-serif;

// COLOR VARIABLES
$color-primary-cold: #4BC0C8;
$color-primary-cold-to-mid: #7699cc; //additional
$color-secondary-mid: #C779D0;
$color-secondary-mid-to-warm: #e0919e; //additional
$color-secondary-warm: #FEAC5E;

//$color-grey-light: #f1f3f5;
$color-text: #fff;
$color-grey-light: #e9ecef ;
$color-grey-mid: #adb5bd;
$color-grey-dark: #212529;

// GRADIENTS
$background-gradient-fallback: $color-primary-cold;  /* fallback for old browsers */
$background-gradient: linear-gradient(60deg, #4BC0C8, #C779D0, #FEAC5E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
//$background-gradient-radial: radial-gradient(#4BC0C8, #C779D0, #FEAC5E); 

// MARGINS
$mb-huge: 16rem;
$mb-large: 8rem;
$mb-medium: 3.2rem;
$mb-small: 1.6rem;
$mb-xs: 1.2rem;
