// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// FONT VARIABLES
$font-primary: sans-serif;
$font-display: sans-serif;

// COLOR VARIABLES
$color-primary: #f03e3e;
$color-primary-dark: #e03131;

$color-secondary: #1864ab;

$color-grey-light: #f1f3f5;
$color-grey-mid: #adb5bd;
$color-grey-dark: #343a40;
