.footer {
  margin-top: 12.8rem;
  height: 9.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid $color-grey-mid;

  @include respond(small) { 
    gap: 1.6rem;
    flex-wrap: wrap;
    margin-top: 9.6rem;
  }
}

.footer-nav{

  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;

  @include respond(small) { 
    gap: 1.6rem;
  }

  &__link:link, 
  &__link:visited {
    text-decoration: none;
    color: $color-grey-mid;
    font-weight: 400;
    transition: all .2s;
  }

  &__link:hover, 
  &__link:active {
    color: $color-text;
  }

  &__icon {
    font-size: 3rem;
  }
}