.footer {
  margin-top: $mb-medium;
  height: 9.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid $color-grey-mid;
}

.footer-nav{

  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;

  &__link:link, 
  &__link:visited {
    text-decoration: none;
    color: $color-grey-mid;
    font-weight: 400;
    transition: all .2s;
  }

  &__link:hover, 
  &__link:active {
    color: $color-text;
  }

  &__icon {
    font-size: 3rem;
  }
}