.section-intro {
  margin-bottom: $mb-huge;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;

  &__about {

  }

  &__specialties {

  }

  &__links {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
  }
}