// MAIN NAVIGATION

.main-nav {

  &__list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 4.8rem;
  }
  
  &__link:link, 
  &__link:visited {
    display: inline-block;
    text-decoration: none;
    color: $color-grey-light;
    font-weight: 400;
    font-size: 1.8rem;
    transition: all .2s;
  }

  &__link:hover, 
  &__link:active {
    color: $color-text;
    transform: translateY(-1px);
  }

  &__cta:link, 
  &__cta:visited {
    padding: 1.2rem 2.4rem;
    border-radius: 100px;
    color: $color-text;
    background-color: $background-gradient-fallback;
    background: linear-gradient($color-grey-dark, $color-grey-dark) padding-box,
    $background-gradient border-box;
    border: 2px solid transparent;
  }
  

}


// MOBILE NAVIGATION

.mobile-nav__btn {
  display: none;
}