.section-skills {
  //margin-bottom: $mb-huge;

  &__list {
    list-style: none;
    display: flex;
    gap: 2.4rem;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__item {
    font-size: 1.8rem;
    font-weight: 500;
    border: 2px solid $color-text;
    width: 13rem;
    height: 13rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}